<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <!--<img class="logo" src="assets/img/angular.png" alt="logo">-->
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
       <div class="actions">
            <a>
                <i class="material-icons"></i>
                Sign in
            </a>
            <a class="login">
                <!--<i class="material-icons"></i>Login -->
                <button mat-raised-button color="primary">
                    Login
                </button>

            </a>
        </div>
    </span>
</mat-toolbar>